
<footer id ="main-footer">
  Copyright &copy;<%= moment().format('YYYY')%> Design by Wendy Liu || All rights reserved,  
  
    Canadian Elite Travel<a class="myfooter" href="#">Contact Us</a> 
</footer>