<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Canadian Elite Travel</title>
        <%- include('./partials/css-global'); %>
    <style>
    </style>
    </head>
    <body class="error_message">
       <main>
         <h1>
          Errors! Please try again for Canadian Elite Travel! 
         </h1>
         <a id="sign-up-now"  href="/"> Return to our Website </a>
       </main>
    </body>
</html>